# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# solidity-coverage files
/coverage
/coverage.json


# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Foundry broadcast files
/broadcast/
Foundry/broadcast/
Foundry/broadcast/**/*
Foundry/broadcast/Deploy.s.sol/




# do not ignore 
!.gitignore
!README.md
!foundry.toml
!remappings.txt


# ignore all environment variable files
.env*
# do not ignore example environment variable file
!.env.example

# ignore all IDE and editor files
.idea/
.vscode/
*.swp
*.swo


# ignore specific folders
.github/
.wake/
.vscode/
.idea/

